<div class="flex flex-col justify-center items-center min-h-screen bg-white ">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="p-6 bg-gray-100 rounded-md  shadow-md hover:shadow-lg transition">

    <!-- Email Field -->
    <div class="email-field">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email" type="email" />
        <mat-error *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</mat-error>
        <mat-error *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</mat-error>
      </mat-form-field>
    </div>

    <!-- Password Field -->
    <div class="password-field">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput id="password" formControlName="password" type="password" />
        <mat-error *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</mat-error>
      </mat-form-field>
    </div>

    <!-- Username Field -->
    <div class="username-field">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput id="username" formControlName="username" type="text" />
        <mat-error *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</mat-error>
      </mat-form-field>
    </div>

    <!-- First Name Field -->
    <div class="first-name-field">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput id="firstName" formControlName="firstName" type="text" />
        <mat-error *ngIf="registerForm.get('firstName')?.errors?.['required']">First Name is required.</mat-error>
      </mat-form-field>
    </div>

    <!-- Last Name Field -->
    <div class="last-name-field">
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput id="lastName" formControlName="lastName" type="text" />
        <mat-error *ngIf="registerForm.get('lastName')?.errors?.['required']">Last Name is required.</mat-error>
      </mat-form-field>
    </div>

    <!-- NIP Field -->
    <div class="nip-field">
      <mat-form-field>
        <mat-label>NIP</mat-label>
        <input matInput id="nip" formControlName="nip" type="number" />
        <mat-error *ngIf="registerForm.get('nip')?.errors?.['required']">NIP is required.</mat-error>
        <mat-error *ngIf="registerForm.get('nip')?.errors?.['min'] || registerForm.get('nip')?.errors?.['max']">NIP number needs to be exactly 10 characters long</mat-error>
      </mat-form-field>
    </div>

    <div class="text-sm pb-2">
      <p>Already have an account? <a href="/login" class="text-blue-600 decoration-2 hover:underline font-medium">Login</a></p>
    </div>

    <!-- Submit Button -->
    <div class="submit-button">
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
        Register
      </button>
    </div>

  </form>
</div>
