<!--maybe set max width for image and if it doesnt fit scale down-->
<div *ngFor="let product of products; let i = index" class=" mx-auto !bg-component">
  <mat-card [ngClass]="{'text-center  mx-auto border shadow-md  mb-4' : !fullWidthMode}">
    <div [ngClass]="{'flex border ': fullWidthMode}">
      <img
        class="m-auto min-h-[250px] min-w-[250px] max-h-[250px] max-w-[250px]  cursor-pointer object-fit-contain border bg-image-background "
        [ngClass]="{'mt-5 mb-1': !fullWidthMode, 'min-h-[370px] min-w-[370px] max-h-[370px] max-w-[370px] !mx-4 !my-4 ': fullWidthMode}"
        [src]="product.images[0] || 'https://picsum.photos/250'"
        alt="{{ product.productName }}"
        [routerLink]="'/single-offer/' + product.id"
      />
      <div
        class="w-full"
        [ngClass]="{'px-6 flex flex-col justify-between': fullWidthMode}"
      >
        <div [ngClass]="{'p-4': fullWidthMode}">
          <h5
            class="hover:underline cursor-pointer"
            [routerLink]="'/single-offer/' + product.id"
            [ngClass]="{'font-bold text-xl': fullWidthMode, 'font-semibold text-lg': !fullWidthMode}">
            {{ product.productName }}
          </h5>
          <p class="truncate hover:whitespace-normal">
            {{ product.shortDescription }}
          </p>
          <p>Available Quantity: {{ product.quantity }}</p>
          <div *ngIf="fullWidthMode" class="mt-3">
            <p>Fabric Composition: {{ product.composition }}</p>
            <p>Color: {{ product.colour }}</p>
            <p>Fabric Type: {{ product.fabricType }}</p>
            <p>Safety: {{ product.safetyRequirements }}</p>
            <p>Technology: {{ product.technologies }}</p>
            <p>Width: {{ product.width }}</p>
          </div>
        </div>
        <div class="flex justify-between p-2 my-3">
          <span class="text-red">{{ product.price | currency }} / m</span>
          <button mat-mini-fab class="-mt-3 mx-2" [routerLink]="'/single-offer/' + product.id">
            <mat-icon class="text-gray-500">shopping_bag</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
