<!--maybe set max width for image and if it doesnt fit scale down-->
<div *ngFor="let product of products; let i = index" class="mb-4 mx-auto">
  <mat-card [ngClass]="{'text-center g mx-auto' : !fullWidthMode}">
    <div [ngClass]="{'flex  ': fullWidthMode}">
      <img
        class="mx-auto h-[250px] w-[250px] p-3 cursor-pointer object-scale-down"
        [ngClass]="{'h-250px w-250px mt-5': !fullWidthMode, 'min-h-[370px] min-w-[370px]': fullWidthMode}"
        [src]="product.images[0] || 'https://picsum.photos/150'"
        alt="{{ product.productName }}"
        [routerLink]="'/single-offer/' + product.id"
      />
      <div
        class="w-full"
        [ngClass]="{'px-6 flex flex-col justify-between': fullWidthMode}"
      >
        <div [ngClass]="{'p-4': fullWidthMode}">
          <h5
            class="hover:underline cursor-pointer"
            [routerLink]="'/single-offer/' + product.id"
            [ngClass]="{'font-bold text-xl': fullWidthMode, 'font-semibold text-lg': !fullWidthMode}">
            {{ product.productName }}
          </h5>
          <p class="truncate hover:whitespace-normal">
            {{ product.shortDescription }}
          </p>
          <p>Available Quantity: {{ product.quantity }}</p>
          <div *ngIf="fullWidthMode" class="mt-3">
            <p>Fabric Composition: {{ product.composition }}</p>
            <p>Color: {{ product.colour }}</p>
            <p>Fabric Type: {{ product.fabricType }}</p>
            <p>Safety: {{ product.safetyRequirements }}</p>
            <p>Technology: {{ product.technologies }}</p>
            <p>Width: {{ product.width }}</p>
          </div>
        </div>
        <div class="flex justify-between p-2 my-3">
          <span class="text-red-400">{{ product.price | currency }} / m</span>
          <button mat-mini-fab class="-mt-3 mx-2" [routerLink]="'/single-offer/' + product.id">
            <mat-icon class="text-gray-500">shopping_bag</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
