<mat-drawer-container
  style="background-color: #ffffff;"
  [autosize]="true"
  class="min-h-full max-w-7xl mx-auto mt-2"
>
  <mat-drawer mode="side" opened class="p-6 !bg-side-container border rounded-lg shadow-md">
    <app-product-sidebar-filter
      [products]="products"
      (filterChange)="onFilterChange($event)"
      (priceRangeChange)="onPriceRangeChange($event)"
    ></app-product-sidebar-filter>

  </mat-drawer>
  <mat-drawer-content class="p-6 ">
    <app-products-header (columnsCountChange)="colCountChange($event)" class="!mr-auto"></app-products-header>
    <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      <mat-grid-tile
        *ngFor="let product of filteredProducts"
        class="h-full  border rounded-lg shadow-md "
        [colspan]="1"
        [rowspan]="1"
      >
        <app-product-box class="w-full !bg-component rounded-lg"
          [products]="[product]"
          [fullWidthMode]="cols === 1"
        ></app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>

<footer class="bg-footer text-center py-4 border-t  rounded-t-lg shadow-md max-w-10xl mx-auto mt-auto">
  <p class="text-sm !text-gray-200">
    © 2025 Your Company. All rights reserved.
  </p>
</footer>
