<div class="min-h-full max-w-7xl mx-auto border-x mt-10 gap-10">
  <mat-grid-list cols="3" rowHeight="200"  gutterSize="50" class="p-5">

    <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgray'" class="mr-10">
      <div class="h-full w-full flex justify-center items-center  bg-gray-200">
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="p-2" [colspan]="3" [rowspan]="2" [style.background]="'lightgreen' ">
    </mat-grid-tile>
  </mat-grid-list>
</div>
