@let imageArrayLength = imageArray.length;
@let arrayIterPlaceholder = Array(4 - imageArrayLength).fill(0);
<!--The user can add at most 4 photos to their listing-->

<div class="p-4">
  <h2 class="text-lg font-bold mb-2">Photos</h2>
  <p class="text-sm text-gray-500 mb-4">
    The first photo will be the main one displayed on the listings page. To delete an image, hover you cursor over the image and click the "X" button. The max upload size is 10MB.
  </p>

  <div class="grid grid-cols-4 gap-4">

    @for (img of imageArray; track $index) {
      <div
        class="relative flex items-center justify-center h-32 border-2 border-dashed border-gray-300 rounded-lg bg-yellow-50 group">
        <img
          [ngSrc]="img"
          class="max-w-full max-h-full object-contain p-2 group-hover:opacity-50"
          alt="image-{{ $index }}"
          fill
        />

        <svg class="icon w-10 h-10 z-10 fill-red-800 opacity-5 group-hover:opacity-100 cursor: pointer" viewBox="0 0 1024 1024" fill="#000000" version="1.1" xmlns="http://www.w3.org/2000/svg" role="button" (click)="deleteImage($index)">
          <path d="M512 897.6c-108 0-209.6-42.4-285.6-118.4-76-76-118.4-177.6-118.4-285.6 0-108 42.4-209.6 118.4-285.6 76-76 177.6-118.4 285.6-118.4 108 0 209.6 42.4 285.6 118.4 157.6 157.6 157.6 413.6 0 571.2-76 76-177.6 118.4-285.6 118.4z m0-760c-95.2 0-184.8 36.8-252 104-67.2 67.2-104 156.8-104 252s36.8 184.8 104 252c67.2 67.2 156.8 104 252 104 95.2 0 184.8-36.8 252-104 139.2-139.2 139.2-364.8 0-504-67.2-67.2-156.8-104-252-104z" fill="" />
          <path d="M707.872 329.392L348.096 689.16l-31.68-31.68 359.776-359.768z" fill="" /><path d="M328 340.8l32-31.2 348 348-32 32z" fill="" />
        </svg>
      </div>
    }

    @for (_ of arrayIterPlaceholder; track $index) {
      @if ($index==0) {
        <!-- Add Photo Button -->
        <div class="flex items-center justify-center h-32 border-2 border-dashed border-gray-300 rounded-lg bg-yellow-50">
          @if (displayAddPhotoButton) {
            <label for="actual-btn" class="text-neutral-700 underline font-bold cursor-pointer">
              Add photo
            </label>
            <input
              id="actual-btn"
              type="file"
              accept="image/png, image/jpeg"
              class="hidden"
              (change)="onFileSubmit($event)">
          } @else {
            <mat-spinner [diameter]="60"></mat-spinner>
          }

        </div>
      } @else {
        <div class="flex items-center justify-center h-32 border-2 border-dashed border-gray-300 rounded-lg bg-gray-100">
          <svg class="w-8 h-8 text-gray-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"></path>
          </svg>
        </div>
      }
    }

  </div>
</div>

