<div class="flex flex-col items-center gap-2 ">
  <!-- Price Range Section -->
  <p class="text-center">Price Range: {{ minPrice }} $ - {{ maxPriceSelected }} $</p>
  <div class="flex items-center justify-center gap-2 w-full px-4">
    <span>0 $</span>
    <mat-slider
      class="flex-1"
      [min]="0"
      [max]="maxPrice"
      step="10"
      [displayWith]="displayValue"

    >
      <input matSliderStartThumb [(ngModel)]="minPrice" (input)="onPriceChange()" />
      <input matSliderEndThumb [(ngModel)]="maxPriceSelected" (input)="onPriceChange()" />
    </mat-slider>
    <span>{{ maxPrice }} $</span>
  </div>

  <!-- Quantity Range Section -->
  <p class="text-center">Quantity Range: {{ minAmount }} - {{ maxAmountSelected }}</p>
  <div class="flex items-center justify-center gap-2 w-full px-4">
    <span>0</span>
    <mat-slider
      class="flex-1"
      [min]="0"
      [max]="maxAmount"
      step="1"
      [displayWith]="displayValue"
    >
      <input matSliderStartThumb [(ngModel)]="minAmount" (input)="onAmountChange()" />
      <input matSliderEndThumb [(ngModel)]="maxAmountSelected" (input)="onAmountChange()" />
    </mat-slider>
    <span>{{ maxAmount }}</span>
  </div>
</div>

<div>
    <h3 class="text-xl font-bold text-center mb-2">Fabric Composition</h3>
    <div *ngFor="let item of section1Items">
      <mat-checkbox [(ngModel)]="selectedSection1Items[item]" (change)="onCheckboxChange()">
        {{ item }}
      </mat-checkbox>
    </div>
  </div>

  <div>
    <h3 class="text-xl font-bold text-center mb-2">Fabric Type</h3>
    <div *ngFor="let item of section2Items">
      <mat-checkbox [(ngModel)]="selectedSection2Items[item]" (change)="onCheckboxChange()">
        {{ item }}
      </mat-checkbox>
    </div>
  </div>

  <div>
    <h3 class="text-xl font-bold text-center mb-2">Fabric Technology</h3>
    <div *ngFor="let item of section3Items">
      <mat-checkbox [(ngModel)]="selectedSection3Items[item]" (change)="onCheckboxChange()">
        {{ item }}
      </mat-checkbox>
    </div>
  </div>

  <div>
    <h3 class="text-xl font-bold text-center mb-2">Fabric Safety</h3>
    <div *ngFor="let item of section4Items">
      <mat-checkbox [(ngModel)]="selectedSection4Items[item]" (change)="onCheckboxChange()">
        {{ item }}
      </mat-checkbox>
    </div>
  </div>


