<div class="flex flex-col justify-center items-center min-h-screen bg-white">
  <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" class="p-4 bg-gray-100 shadow-md rounded-md">
    <div class="password-field">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput id="password" formControlName="password" type="password" />
        <mat-error *ngIf="passwordResetForm.get('password')?.errors?.['required']">Password is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="password-field">
      <mat-form-field>
        <mat-label>Repeat password</mat-label>
        <input matInput id="passwordRepeat" formControlName="passwordRepeat" type="password" />
        <mat-error *ngIf="passwordResetForm.get('passwordRepeat')?.errors?.['required']">Password repeat is required</mat-error>
      </mat-form-field>
    </div>

    <div class="submit-button">
      <button mat-raised-button color="primary" type="submit" [disabled]="passwordResetForm.invalid">
        Submit email
      </button>
    </div>
  </form>
</div>
