<div class="password-reset-container">
  <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
    <div class="password-field">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="password" formControlName="password" type="password" />
        <mat-error *ngIf="passwordResetForm.get('password')?.errors?.['required']">Password is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="password-field">
      <mat-form-field appearance="fill">
        <mat-label>Repeat password</mat-label>
        <input matInput id="passwordRepeat" formControlName="passwordRepeat" type="password" />
        <mat-error *ngIf="passwordResetForm.get('passwordRepeat')?.errors?.['required']">Password repeat is required</mat-error>
      </mat-form-field>
    </div>

    <div class="submit-button">
      <button mat-raised-button color="primary" type="submit" [disabled]="passwordResetForm.invalid">
        Submit email
      </button>
    </div>
  </form>
</div>
