<mat-toolbar color="primary" class="header-toolbar justify-between" mat-align-tabs="center">
  <a></a>
  <a></a>
    <button mat-flat-button>
      Add Offer
    </button>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="nav-tabs">
    <a
      mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ link.label }}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <button mat-icon-button class>
    <mat-icon>
      login
    </mat-icon>
  </button>
  <a></a>
</mat-toolbar>
