@use '@angular/material' as mat;

.nav-tabs {
  @include mat.tabs-overrides((
    inactive-label-text-color: white,
    active-label-text-color: white,
    active-hover-label-text-color: white,
    inactive-hover-label-text-color: white,
    active-indicator-color: white,
    active-ripple-color: white,
    pagination-icon-color: white,
    active-focus-label-text-color: white,
  ));
}
